<h1>v1.1</h1>

<p>mountebank is happy to provide you with the following changes in <%= version %></p>

<h2>More Install Options</h2>
<ul>
  <li>v1.0 only supported installing through npm.  mountebank now supports self-contained
    packages on all supported platforms, which do not require node.js installed on the target
    platform.  See the <a href='http://<%= host %>/docs/install'>install</a> page for details.</li>
</ul>

<h2>New Features</h2>
<ul class='bullet-list'>
  <li>A new <a href='http://<%= host %>/docs/api/overview'><code>?replayable=true</code></a> query parameter to retrieve
    all imposters or a single imposter without the <code>requests</code> and <code>matches</code>
    arrays.  This supports runtime downloads of a configuration to replay later.</li>
  <li>Mass update and delete capability.  mountebank now supports PUT and DELETE verbs
    on /imposters.  This is designed to support loading a configuration file of imposters at
    runtime.  See the <a href='http://<%= host %>/docs/api/overview'>API overview</a> page.</li>
  <li>A new <a href='http://<%= host %>/docs/api/stubs'><code>_behaviors</code></a> field available for stubs.
    <code>_behaviors</code> currently supports adding latency to each response.</li>
  <li>A new <a href='http://<%= host %>/docs/commandLine'><code>--nomock</code></a> command line option to prevent
    mountebank from recording requests.  This supports long-running processes from leaking memory
    where mocking is not important.</li>
  <li>A new <a href='http://<%= host %>/docs/commandLine'><code>--configfile</code></a> command line option to
    load a configuration file at startup for creating imposters.</li>
  <li>A new <a href='http://<%= host %>/docs/api/overview'><code>config</code></a> resource, exposing over
    JSON the same information you can see from the <a href='http://<%= host %>/config'>config</a> page.</li>
</ul>

<h2>Documentation Improvements</h2>
<ul class='bullet-list'>
  <li><a href='http://<%= host %>/docs/examples'>Example usages</a> in multiple languages and multiple protocols.</li>
  <li>This ATOM feed, which will be updated with release notes on every release.  Subscribe in
    <a href='http://feedly.com/index.html#discover'>feedly</a> or your favorite RSS reader.</li>
  <li>A new <a href='http://<%= host %>/docs/glossary'>glossary</a> to help explain mountebank concepts.</li>
  <li>Embedded site search, accessible through the search box in the header.</li>
</ul>

<h2>Bug Fixes</h2>
<ul class='bullet-list'>
  <li>Fixed <a href='https://github.com/bbyars/mountebank/issues/3'>incorrect handling of JSON null values</a></li>
  <li>Fixed <a href='https://github.com/bbyars/mountebank/pull/9'>inconsistent end tags</a> on the stubs
    documentation.</li>
  <li>mountebank now support <a href='https://github.com/bbyars/mountebank/issues/4'>ints, floats, and
    booleans</a> for predicates.</li>
</ul>

<p>Many thanks to <a href='http://nikosbaxevanis.com/'>Nikos Baxevanis</a> for help with this release.</p>
