<h1>v<%= releaseVersion %></h1>

<p><b>Note that this release changes some default command line behavior.</b>  It's not a breaking change -
  all previous functionality is still supported, but it means you may need to pass in some additional
  command line flags (specifically <code>--mock</code> and <code>--debug</code>) to get the same behavior
  as before, if you depended on either the <code>requests</code> or <code>matches</code> arrays recorded
  with imposters and stubs previously.The following changes are part of this release.</p>

<h2>New Features</h2>
<ul class='bullet-list'>
  <li>Thanks to Paul Phillips, mountebank now works with node v0.12 and v4.0.</li>
  <li>A <code>timestamp</code> has been added to each element in the <code>requests</code> array
    to allow for richer verification testing.</li>
  <li>The <code>matches</code> array is only included if you use the <code>--debug</code> command
    line parameter.  In practice, this array confused people.  It is still supported,
    but is only intended for debugging purposes to determine when a stub matches or doesn't.</li>
  <li>The <code>requests</code> array is only included if you use the <code>--mock</code> command
    line parameter, and the <code>--nomock</code> parameter no longer matters.  <b>This is the inverse
    of prior behavior</b> and represents learning that the default use case for most people is to turn
    off recording requests by default (which represents a memory leak), as many people prefer long
    running <code>mb</code> instances set up with config files or used for performance testing.</li>
</ul>

<p>Many thanks to the following kind folk for help with this release:</p>

<ul class='bullet-list'>
  <li>Paul Phillips</li>
  <li>Quadir Kareemullah</li>
</ul>

<h2>Install</h2>

<pre><code>
  npm install -g mountebank@<%= releaseVersion %> --production
</code></pre>

<p>or:</p>

<table>
  <tr>
    <th>Option</th>
    <th>node.js required?</th>
    <th>sudo required?</th>
    <th>links</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Self-contained archives</td>
    <td>No</td>
    <td>No</td>
    <td style="min-width: 5em;">
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>-darwin-x64.tar.gz">osx</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>-linux-x86.tar.gz">linux x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>-linux-x64.tar.gz">linux x64</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>-win-x86.zip">win x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>-win-x64.zip">win x64</a></li>
      </ul>
    </td>
    <td>Simply unpack and run <code>mb</code> from inside</td>
  </tr>
  <tr>
    <td>OS-specific packages</td>
    <td>No</td>
    <td>Yes</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>.pkg">pkg</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-<%= releaseVersion %>-1.x86_64.rpm">rpm</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank_<%= releaseVersion %>_amd64.deb">deb</a></li>
      </ul>
    </td>
    <td>Puts <code>mb</code> at <code>/usr/local/bin</code>, which is generally in the <code>PATH</code>.</td>
  </tr>
  <tr>
    <td>source tarball</td>
    <td>Yes</td>
    <td>No</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= releaseMajorMinor %>/mountebank-v<%= releaseVersion %>-npm.tar.gz">mb</a></li>
      </ul>
    </td>
    <td>source tarball if you roll that way.</td>
  </tr>
</table>
