<%
title = 'install options'
description = 'Installation options for mountebank, many of which require no platform dependencies'
%>

<% include ../_header %>

<h1>Installation Options</h1>

<p>mountebank knows first-hand how frustrating it is to be working in .NET and have to
fiddle with a JDK just to get a testing library working, and the hassle of setting up
ruby in your build pipeline to compile CSS even though you're on a Java project.  mountebank
wants you to be happy, and therefore he supports additional installation
options.</p>

<%
var versionWithoutPatch = version.replace(/\.\d+(\+\d+)?$/,'');
var versionPath = encodeURIComponent(version);
%>

<table>
  <tr>
    <th>Option</th>
    <th>node.js required?</th>
    <th>sudo required?</th>
    <th>links</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Self-contained archives</td>
    <td>No</td>
    <td>No</td>
    <td style="min-width: 5em;">
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>-darwin-x64.tar.gz">osx</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>-linux-x86.tar.gz">linux x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>-linux-x64.tar.gz">linux x64</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>-win-x86.zip">win x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>-win-x64.zip">win x64</a></li>
      </ul>
    </td>
    <td>Simply unpack and run <code>mb</code> from inside</td>
  </tr>
  <tr>
    <td>OS-specific packages</td>
    <td>No</td>
    <td>Yes</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>.pkg">pkg</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-<%= versionPath %>-1.x86_64.rpm">rpm</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank_<%= versionPath %>_amd64.deb">deb</a></li>
      </ul>
    </td>
    <td>Puts <code>mb</code> at <code>/usr/local/bin</code>, which is generally in the <code>PATH</code>.</td>
  </tr>
  <tr>
    <td>source tarball</td>
    <td>Yes</td>
    <td>No</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v<%= versionWithoutPatch %>/mountebank-v<%= versionPath %>-npm.tar.gz">mb</a></li>
      </ul>
    </td>
    <td>source tarball if you roll that way.</td>
  </tr>
</table>

<% include ../_footer %>
