<%
title = 'configuration'
description = 'The version, command line parameters, and environment information about this running mb process'
%>

<% include _header %>

<h1>Config</h1>

<table>
  <tr>
    <td>version</td>
    <td><%= version %></td>
  </tr>
  <tr>
    <td>allowInjection</td>
    <td><%= options.allowInjection %></td>
  </tr>
  <tr>
    <td>mock</td>
    <td><%= options.mock %></td>
  </tr>
  <tr>
    <td>configfile</td>
    <td><%= options.configfile %></td>
  </tr>
  <tr>
    <td>logfile</td>
    <td><%= options.logfile %></td>
  </tr>
  <tr>
    <td>loglevel</td>
    <td><%= options.loglevel %></td>
  </tr>
  <tr>
    <td>pidfile</td>
    <td><%= options.pidfile %></td>
  </tr>
  <tr>
    <td>allowCORS</td>
    <td><%= options.allowCORS %></td>
  </tr>
  <tr>
    <td>debug</td>
    <td><%= options.debug %></td>
  </tr>
</table>

<h2>Process Information</h2>

<table>
  <tr>
    <td>node version</td>
    <td><%= process.nodeVersion %></td>
  </tr>
  <tr>
    <td>architecture</td>
    <td><%= process.architecture %></td>
  </tr>
  <tr>
    <td>platform</td>
    <td><%= process.platform %></td>
  </tr>
  <tr>
    <td>rss</td>
    <td><%= process.rss %></td>
  </tr>
  <tr>
    <td>heapTotal</td>
    <td><%= process.heapTotal %></td>
  </tr>
  <tr>
    <td>heapUsed</td>
    <td><%= process.heapUsed %></td>
  </tr>
  <tr>
    <td>uptime</td>
    <td><%= process.uptime %></td>
  </tr>
  <tr>
    <td>cwd</td>
    <td><%= process.cwd %></td>
  </tr>
</table>

<h2>Environment</h2>

<table>
<% Object.keys(environment).forEach(function (key) { %>
  <tr>
    <td><%= key %></td>
    <td><%= environment[key] %></td>
  </tr>
<% }); %>
</table>

<% include _footer %>
