<?xml version='1.0' encoding='utf-8'?>

<feed xmlns='http://www.w3.org/2005/Atom'>

  <title>mountebank releases</title>
  <subtitle>Release notes for mountebank</subtitle>
  <link href='http://<%= host %>/feed' rel='self' />
<% if (hasNextPage) { %>
  <link href='http://<%= host %><%= nextLink %>' rel='next' />
<% } %>
  <link href='http://<%= host %>/' />
  <id>http://<%= host %>/feed</id>
  <updated><%= releases[0].date %>T00:00:00Z</updated>
  <author>
    <name>Brandon Byars</name>
    <email>brandon.byars@gmail.com</email>
    <uri>http://<%= host %></uri>
  </author>

<% releases.forEach(release => { %>
  <entry>
    <title>mountebank <%= release.version %> release</title>
    <id>http://<%= host %>/releases/<%= release.version %></id>
    <updated><%= release.date %>T00:00:00Z</updated>
    <content type='html'>
      <![CDATA[
      <%- release.view %>
      ]]>
    </content>
  </entry>
<% }); %>

</feed>
