<% include _header %>

<script src='/scripts/imposters.js'></script>

<h1>Imposters</h1>

<p>mountebank is a man of few words, preferring demonstrations to oration.  For those who wish to
learn the <a href='/docs/api/overview'>API</a> by example, you've come to the right place.  Create
an imposter below, and let mountebank build the API call for you.  It all starts with the green
plus sign.</p>

<% if (heroku) { -%>
<p>This page is hosted on heroku, and while it will accept imposter creation requests, the imposters
are not actually able to bind to a different port.</p>
<% } -%>

<p>&nbsp;</p>
<table style='table-layout: fixed;'>
  <tr>
    <th style='width: 3em'>&nbsp;</th>
    <th style='width: 15em;'>name</th>
    <th style='width: 6em;'>protocol</th>
    <th style='width: 5em;'>port</th>
    <th style='width: 6em;'># requests</th>
  </tr>

  <% imposters.forEach(function (imposter) { %>
  <tr id='imposter-<%= imposter.port %>'>
    <td style='width: 3em'>
      <a href='#' class='inspect-icon' title='inspect'></a>
      <a href='#' class='delete-icon' title='delete'></a>
    </td>
    <td style='width: 15em;'><a href='<%= imposter._links.self.href %>'>
      <%= imposter.name || imposter.protocol + ':' + imposter.port %>
    </a></td>
    <td style='width: 6em;'><%= imposter.protocol %></td>
    <td style='width: 5em;'><%= imposter.port %></td>
    <td style='width: 6em;'><%= (imposter.requests || []).length %></td>
  </tr>
  <% }); -%>

  <tr>
    <td colspan='5'><a href='#' class='add-icon' title='add'></a></td>
  </tr>
</table>

<p>Request:</p>
<pre><code id='api-request'></code></pre>

<p>Response:</p>
<pre><code id='api-response'></code></pre>

<div id='add-dialog'>
  <h2>Add imposter</h2>
  <form name='addImposter'>
    <fieldset>
      <legend>The basics...</legend>
      <div>
        <label for='protocol'>Protocol</label>
        <select name='protocol' id='protocol' required='required'>
          <option value='http'>http</option>
          <option value='https'>https</option>
          <option value='tcp'>tcp</option>
          <option value='smtp'>smtp</option>
        </select>
      </div>

      <div>
        <label for='port'>Port</label>
        <input type='text' name='port' id='port' maxlength='6' pattern='\d+' placeholder='3000' class='optional' />
        <span>mountebank will choose one for you if you leave it blank</span>
      </div>

      <div>
        <label for='name'>Name</label>
        <input type='text' name='name' id='name' maxlength='50' placeholder='product service' class='optional' />
        <span>shows up in the logs and table on this page</span>
      </div>
    </fieldset>
  </form>
</div>

<% include _footer %>
