<pre id='config-specification'><code>{
<span id='config-version'><%- indent(2) %>&quot;version&quot;: &quot;1.4.1&quot;,</span>
<span id='config-options'><%- indent(2) %>&quot;options&quot;: {
    &quot;port&quot;: 2525,
    &quot;pidfile&quot;: &quot;mb.pid&quot;,
    &quot;logfile&quot;: &quot;mb.log&quot;,
    &quot;loglevel&quot;: &quot;info&quot;,
    &quot;configfile&quot;: &quot;&quot;,
    &quot;allowInjection&quot;: false,
    &quot;mock&quot;: true,
    &quot;debug&quot;: true
  },</span>
<span id='config-process'><%- indent(2) %>&quot;process&quot;: {</span>
<span id='config-process-nodeVersion'><%- indent(4) %>&quot;nodeVersion&quot;: &quot;v6.9.1&quot;,</span>
<span id='config-process-architecture'><%- indent(4) %>&quot;architecture&quot;: &quot;x64&quot;,
    &quot;platform&quot;: &quot;darwin&quot;,</span>
<span id='config-process-memory'><%- indent(4) %>&quot;rss&quot;: 29822976,
    &quot;heapTotal&quot;: 18635008,
    &quot;heapUsed&quot;: 9294352,</span>
<span id='config-process-uptime'><%- indent(4) %>&quot;uptime&quot;: 16,</span>
<span id='config-process-cwd'><%- indent(4) %>&quot;cwd&quot;: &quot;/Users/bbyars/src/mountebank&quot;</span>
  }
}</code></pre>
